/*
Theme Name: Liberty
Theme URI: http://foroliberaldeamericalatina.org/desarrollo
Author: Rafael Sanchez
Author URI: https://rafael.web.ve/
Description: Tema para la web del foro liberal de america latina, basado en el tema University de w3layouts.com
Version: 1.0.1
License: GNU General Public License v2 or later && Creative Commons Attribution 3.0 Unported
License URI: http://www.gnu.org/licenses/gpl-2.0.html && http://creativecommons.org/licenses/by/3.0/
Tags: liberalismo, conservadurismo.
Text Domain: foro-liberal
*/

/*
	Importamos los estilos principales heredados del tema university de w3layouts.com
*/
@import url('assets/css/main.university.css');
@import url('assets/css/editor.css');

/*
	Estilos perzonalizados
*/
.banner-grids .container {
	padding: 4em 0 0 0;
}

.container {
	padding: 2em;
}

.main-title a {
	color: #fff !important;
}

.banners-pages{
	background-size: cover !important;
    background-repeat: no-repeat;
    min-height: 270px;
    max-width: 100%;
    margin-top: -35px;
}

.center {
	text-align: center;
}

/*
	Estilos para los videos publicados usando iframes
*/

.blog-video { 
	margin-top: 35px; 
	width:100%; 
	display:inline-block;
	position:relative; 
	padding-bottom:56.25%; 
	padding-top:35px; 
	height:0; 
	overflow:hidden; 
}

.blog-video iframe,
.blog-video p iframe  { 
	position: absolute; 
	top:0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
} 

/*
	Estilos para las publicaciones tipo citas
*/

blockquote {
	font-family: Georgia, serif;
	font-size: 18px;
	font-style: italic;
	margin: 0.25em 0;
	padding: 0.25em 40px;
	line-height: 1.45;
	position: relative;
	color: #383838;
}

blockquote cite {
	color: #999999;
	font-size: 14px;
	display: block;
	margin-top: 5px;
}


/*
	Responsiv
*/

@media (max-width: 1155px){
	.logo {
		float: none;
	    margin-left: 0em;
	    width: 220px;
	    text-align: center;
	    background: #f6f30c;
	    padding: 1em;
	}

	.top-menu {
		float: right;
	    background: #f6f30c;
	    margin: 3em 0 0 0;
	    padding: 0 2em 0 0em;
	    display: none;
	    position: absolute;
	    top: 25px;
	    right: 0;
	    font-size: 14px;
	}
}



@media (max-width: 960px){

	.logo {
		float: none;
	    margin-left: 0em;
	    /*width: 100%;*/
	    text-align: center;
	    background: #f6f30c;
	    padding: 1em;
	}

	.top-menu {
	    background: #f6f30c;
	    margin: 13em 0 0 0;
	    width: 100%;
	    padding: 0 2em 0 0em;
	    display: none;
	    font-size: 14px;
	    text-align: center;
	}

	.caption {
		margin-top: 0em;
	}

	.banner-grids {
    	margin-top: 40em;
    	z-index: 0;
    }
    .footer {
    	padding-top: 0em;
    }
    .footer .container {
		padding-left: 1em;
		padding-right: 1em;
	}

	.ftr-grid {
		padding-top: 1em;
	}
	
}

@media (max-width: 710px){
	
	.logo {
		float: none;
	    margin-left: 0em;
	    width: 100%;
	    text-align: center;
	    background: #f6f30c;
	    padding: 1em;
	}

	.slider {
		display: none;
	}

	.banner-grids {
    	margin-top: 12em;
    	z-index: 0;
    }

    .banners-pages {
    	visibility: hidden;
    }

    .blog {
    	margin-top: -4em;
    }
}

@media (max-width: 360px){

	.menu-main-menu-container{
		width: 100%;
		text-align: left;
	}

	.top-menu {
		display: block;
    	padding: 0em;
	}

	.top-menu ul li {
		width: 100%;
	}

	.banner-grids {
    	margin-top: 25em;
    	z-index: 0;
    }

    .blog {
    	margin-top: 8em;
    }
}

@media (max-width: 991px){
	.main-sidebar{
		display: none;
	}
}

@media (min-width: 360px) and (max-width: 384px){
	.banner-grids {
    	margin-top: 17em;
    	z-index: 0;
    }

    .blog {
    	margin-top: 8em;
    }
}

@media (min-width: 385px) and (max-width: 702px){
	.banner-grids {
    	margin-top: 14em;
    	z-index: 0;
    }

    .blog {
    	margin-top: 6em;
    }
}


/*
	RADIO
*/
.mejs-container,
#radio-player {
	display: none;
}

#radio-controller-box {
	cursor: pointer;
	width: 100%;
	min-height: 160px;
	background: #f6f30c;
	font-family: 'Ubuntu-Medium';
    display: table;
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

#radio-controller-wrap{
	display: table-row;
}

#radio-controller-wrap #radio-controller-title,
#radio-controller-wrap #radio-controller{
	width: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#radio-controller-wrap #radio-controller-title {
	color: #5E91F7;
}

.radio-start {
	color: #fff;
}

.radio-stopt {
	color: #000;
}

.blue-head h2{
	color: #5E91F7 !important;
  	font-family: 'Ubuntu-Medium';
  	font-size: 2.5em;
  	margin-bottom: 0.5em;
  	margin-top: 0.5em;
}

/* 
	WIDGETS
*/

.cat-post-widget h4{
	display: inline-block;
    background: #f6f30c;
    width: 100%;
    font-family: 'Ubuntu-Medium';
    padding: 0.5em;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

/*
	FOOTER WIDGETS STYLES
*/
.ftr-grid h3 {
	border-bottom: 3px solid #f6f30c;
    padding-bottom: 0.5em;
}

.ftr-grid li {
    list-style: none;
}

.ftr-grid li ul li a{
	display: block;
    padding: 5px 0;
    color: #5A5656;
    font-size: 0.95em;
    font-weight: bold;
}

.footer .container {
	padding-top: 1em;
}

/*
	MAIN SIDEBAR
*/

.main-sidebar .main-widget h4{
	display: inline-block;
    background: #f6f30c;
    width: 100%;
    font-family: 'Ubuntu-Medium';
    padding: 0.5em;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.main-sidebar .main-widget ul {
	list-style: none;
	padding: 1em;
}

.main-sidebar .main-widget ul li {
	border-bottom: 1px solid #ccc;
    list-style: none;
    list-style-type: none;
    margin: 3px 0;
    padding: 3px 0;
}

.main-sidebar .main-widget ul li:last-child {
    border-bottom: none;
}

/*
	BLOG INFO
*/

.blog-info h3 {
	font-size: 2.2em;
	font-family: 'Ubuntu-Medium';
}

/*
	PODCASTS
*/

.podcast-xlarge {
	margin-top: 2em;
	border:1px solid #5E91F7; 
	box-sizing:border-box; 
	width:100%;
}

/*
	DISQUS
*/

#disqus_thread {
	margin-top: 2em;
}

/*
	BLOG TEXT BOX
*/
.blog-info-text {
	margin-top: 2em;
}

/*
	NAVIGATION
*/

.pagination h2 {
	display: none;
}

.nav-links .page-numbers{
  color: #542f1d;
  font-size: 17px;
  padding: 5px 15px;
}
.nav-links .page-numbers:hover{
  color: #fff;
  background: #f6f30c !important;
  border-color:#f6f30c;
}
.nav-links .page-numbers {
  color: #542f1d;
  background: none;
  border: 1px solid #ddd;
  margin-left: -5px;
}

.nav-links .page-numbers:last-child{
	border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.nav-links .page-numbers:first-child{
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.icons-large a {
    display: block;
    padding: 0.2em;
}

.icons-large {
	list-style: none;
}

.blog-info-text p {
 	padding: 1em; 
}


.banner-grid h3 a {
	color: #000 !important;
}

.sharedaddy.sd-sharing-enabled {
    padding: 1em 0em;
}
